---
layout: base.njk
title: Jeremy and Hans
---

{% macro inlinepic(filename, alt, orientation) %}
	<div class="imageGallery">
		<a href="https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_1024,f_auto,q_auto/wedding_v2/nocrop/{{ filename }}">
			<img
				class="w-full shadow-sm"
				sizes="(max-width: 641px) 90vw, 50vw"
				srcset="https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_320,f_auto,q_auto/wedding_v2/{{ filename }} 320w,
					https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_384,f_auto,q_auto/wedding_v2/{{ filename }} 384w,
					https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_512,f_auto,q_auto/wedding_v2/{{ filename }} 512w,
					https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_640,f_auto,q_auto/wedding_v2/{{ filename }} 640w,
					https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_768,f_auto,q_auto/wedding_v2/{{ filename }} 768w,
					https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_1024,f_auto,q_auto/wedding_v2/{{ filename }} 1024w,
					https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_1280,f_auto,q_auto/wedding_v2/{{ filename }} 1280w,
					https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_1536,f_auto,q_auto/wedding_v2/{{ filename }} 1536w,
					https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_2000,f_auto,q_auto/wedding_v2/{{ filename }} 2000w"
				src="https://res.cloudinary.com/dsq8eoc9l/{{ orientation }}_512,f_auto,q_auto/wedding_v2/{{ filename }}"
				alt="{{ alt }}"
				loading="lazy"
			/>
		</a>
	</div>
{% endmacro %}

<main id="main" class="text-center bg-gray-50">
	<section id="header" class="flex flex-col min-h-screen scroll-snap-y-top">
		{# top #}
		<div class="flex flex-col flex-grow min-h-full">
			<div class="flex-grow">
				<div class=""></div>
			</div>
			<div class="flex flex-col flex-none w-full h-1/3 ">
				<div class="flex flex-col justify-end w-full">
					<h1 class="mt-8 text-2xl tracking-widest uppercase md:text-3xl font-subhead">Jeremy and Hans</h1>
				</div>
				<div class="flex flex-grow h-16 divide-x divide-gray-800 divide-solid">
					<div class="flex-grow"></div>
					<div class="flex-grow"></div>
				</div>
				<div>
					<p class="text-3xl leading-none tracking-wide font-headline md:text-5xl">09 October</p>
				</div>
				<div class="flex text-3xl leading-none divide-x divide-gray-800 divide-solid font-headline md:text-5xl">
					<div class="flex justify-end flex-1 px-2">
						<p>2020</p>
					</div>
					<div class="flex justify-start flex-1 px-2">
						<p class="line-through">2021</p>
					</div>
				</div>
			</div>
			<div class="flex flex-grow h-8 divide-x divide-gray-800 divide divide-solid">
				<div class="flex-grow"></div>
				<div class="flex-grow"></div>
			</div>
		</div>
		{# end top #}
		{# hero image #}
		<div class="full-width-div 2xl:bg-hero-1 imageGallery">
			<a href="https://res.cloudinary.com/dsq8eoc9l/w_1024,f_auto,q_auto/wedding_v2/0224">
				<picture class="full-width-picture">
					<source media="(max-width: 320px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_320,f_auto,q_auto,c_lfill,g_center/wedding_v2/0224">
					{# 2xl #}
					<source media="(min-width: 1536px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_3,w_2000,f_auto,q_auto,c_lfill,g_center/wedding_v2/0224">
					{# xl #}
					<source media="(min-width: 1280px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_1536,f_auto,q_auto,c_lfill,g_center/wedding_v2/0224">
					{# lg #}
					<source media="(min-width: 1024px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_1280,f_auto,q_auto,c_lfill,g_center/wedding_v2/0224">
					{# md #}
					<source media="(min-width: 768px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2,w_1024,f_auto,q_auto,c_lfill,g_center/wedding_v2/0224">
					{# sm #}
					<source media="(min-width: 640px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_1.5,w_768,f_auto,q_auto,c_lfill,g_south/wedding_v2/0224">
					{# extra sm #}
					<source media="(min-width: 321px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_1,c_crop,z_1.5/w_640,f_auto,q_auto/wedding_v2/0224">
					<img src="https://res.cloudinary.com/dsq8eoc9l/ar_2,w_600,f_auto,q_auto,c_lfill,g_center/wedding_v2/0224" loading="lazy">
				</picture>
			</a>
		</div>
		{# hero image #}
	</section>
	<section class="flex justify-center bg-jh-sea-foam scroll-snap-y-top">
		<div class="section-std-div">
			<h3 class="text-3xl text-section-h3 md:col-start-2 md:col-span-4 lg:col-start-3 lg:col-span-3">Postponing our reception&hellip; for a great reason!</h3>
			<p class="text-lg text-section-p md:col-start-2 md:col-span-4 lg:col-start-3 lg:col-span-4">After careful thought, we’ve decided to postpone our wedding reception and instead are putting our efforts towards building our family.</p>
			<p class="text-section-p md:col-start-8 md:col-span-4 md:row-start-1">We’ll definitely have the reception at some point in the future, namely when the world has learned to responsibly live with covid so that our family and friends both in the US and overseas can confidently travel in to celebrate.</p>
			<p class="text-section-p md:col-start-8 md:col-span-4">In the meantime, we hope to share good news on our family building progress soon. Until then, we wanted to share more about our small wedding ceremony from 2020.</p>
		</div>
	</section>
	<section class="flex justify-center bg-jh-ice scroll-snap-y-top">
		<div class="section-std-div">
			<div class="md:col-start-2 md:col-span-4 lg:col-start-3 lg:col-span-3">
				<h3 class="tracking-wider uppercase font-subhead">It's not necessary, but&hellip;</h3>
				<h3 class="mb-4 text-4xl leading-relaxed font-headline">Registry</h3>
				<a href="https://www.zola.com/registry/jeremyandhans" target="_blank" class="inline-flex items-center px-6 py-4 tracking-wider text-center text-white uppercase transition-all duration-200 rounded-md shadow-sm leading-12 bg-jh-navy w-min font-subhead whitespace-nowrap hover:shadow-md hover:bg-opacity-90 focus:ring-2 focus:ring-white">
					<span class="mt-1">Our Zola Registry</span>
				</a>
			</div>
			<div class="flex flex-col justify-center h-full md:col-start-8 md:col-span-4">
				<p class="max-w-xl leading-relaxed font-bodycopy">So many of you have been kind to ask whether we’re registered. Everyone probably knows that we have no need for a stand mixer, dutch oven, or coffee maker. If, however, you’d like to get us a gift, we’ve organized a registry on Zola.</p>
				{# <p class="max-w-lg text-2xl font-bodycopy">If you’d like to help us build a family, here’s our cash registry:</p> #}
			</div>
		</div>
	</section>
	<section class="flex flex-col items-center">
		<div class="section-pics-div scroll-snap-y-top">
			<div class="flex flex-col md:col-start-2 md:col-span-4 lg:col-start-3 lg:col-span-3">
				<h3 class="text-section-h3">Getting Ready</h3>
				<p class="text-section-p">Normally “getting ready” photos are of suits and ties. In our case, we planned and catered the wedding ourselves – of course with the help of Catherine, Claire, and Kris, aka The Brickyard). And in true Brickyard fashion, this story starts with flowers and our to do list in the kitchen.</p>
			</div>
			<div class="w-full md:col-span-5 md:col-start-7 md:row-span-2 place-self-start">
				{{ inlinepic('7885','Claire and Jeremy preparing arrangements after a trip to the flower market.','h') }}
			</div>
			<div class="w-full md:col-span-4 md:col-start-2 md:row-start-2">
				{{ inlinepic('0035','Our dinner menu, pinned to a kitchen cabinet door.','w') }}
			</div>
		</div>
		{# <div class="w-full section-std-div">
			<p class="italic font-bodycopy md:col-start-2 text-jh-hunter-green md:col-span-5">Photos credit: <a href="https://naturacollective.com/" target="_blank" class="hover:underline">Natura Collective</a>
			</p>
		</div> #}
	</section>
	<section>
		<div class="full-width-div md:h-auto bg-hero-2 2xl:bg-hero-2 scroll-snap-y-top imageGallery">
			<a href="https://res.cloudinary.com/dsq8eoc9l/w_1024,f_auto,q_auto/wedding_v2/0026">
				<picture class="full-width-picture">
					<source media="(max-width: 320px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_320,f_auto,q_auto,c_lfill,g_center/wedding_v2/0026">
					{# 2xl #}
					<source media="(min-width: 1536px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_3,w_2000,f_auto,q_auto,c_lfill,g_center/wedding_v2/0026">
					{# xl #}
					<source media="(min-width: 1280px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_1536,f_auto,q_auto,c_lfill,g_center/wedding_v2/0026">
					{# lg #}
					<source media="(min-width: 1024px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_1280,f_auto,q_auto,c_lfill,g_center/wedding_v2/0026">
					{# md #}
					<source media="(min-width: 768px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2,w_1024,f_auto,q_auto,c_lfill,g_center/wedding_v2/0026">
					{# sm #}
					<source media="(min-width: 640px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_1.5,w_768,f_auto,q_auto,c_lfill,g_south/wedding_v2/0026">
					{# extra sm #}
					<source media="(min-width: 321px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_1,c_crop,z_1.5/w_640,f_auto,q_auto/wedding_v2/0026">
					<img src="https://res.cloudinary.com/dsq8eoc9l/ar_2,w_600,f_auto,q_auto,c_lfill,g_center/wedding_v2/0026" loading="lazy">
				</picture>
			</a>
		</div>
	</section>
	<section class="flex justify-center">
		<div class="section-pics-div scroll-snap-y-top">
			<div class="md:col-start-2 md:col-span-4 md:row-span-2">
				{{ inlinepic('0012','Wide shot of table settings.','h') }}
			</div>
			<div class="flex flex-col md:col-start-7 md:col-span-4 xl:col-start-7 xl:col-span-3">
				<h3 class="text-section-h3">Setting Up</h3>
				<p class="text-section-p">We had an intimate-yet-socially-distanced reception setup in the backyard for our eight guests (plus our two nephews!).</p>
			</div>
			<div class="md:col-start-7 md:col-span-5 imageGallery">
				{{ inlinepic('0010','Tighter shot of the grooms place settings.','w') }}
			</div>
			<div class="md:col-start-2 md:col-span-4 md:row-span-2">
				{{ inlinepic('0023','Candlesticks and floral arrangements on table settings.','h') }}
			</div>
			<div class="md:col-start-7 md:col-span-5 md:row-span-2">
				{{ inlinepic('0015','Tight shot of menu on a place setting.','w') }}
			</div>
			<div class="flex flex-col md:col-start-2 md:col-span-4 md:row-start-5 lg:col-start-2 lg:col-span-3">
				<h3 class="text-section-h3">Actually getting ready&hellip;</h3>
				<p class="text-section-p">Up until this moment, we honestly forgot that it was our own wedding! There’s nothing like photographers being present to remind you of that.</p>
			</div>
			<div class="md:col-start-7 md:col-span-4 ">
				{{ inlinepic('0045','The grooms jackets hanging up in the dressing room.','w') }}
			</div>
			<div class="md:col-start-2 md:col-span-4 md:row-span-2">
				{{ inlinepic('0062','Hans tying his necktie.','h') }}
			</div>
			<div class="md:col-start-7 md:col-span-5 ">
				{{ inlinepic('0097','Jeremy helps Hans straighten his pocket square.','w') }}
			</div>
			<div class="flex flex-col justify-center md:col-start-7 md:col-span-4 md:h-48">
				<p class="text-xl text-section-p">Our furry nephew Frank checked our outfits, while our non-furry nephew George straightened our ties.</p>
			</div>
			<div class="md:col-start-2 md:col-span-4">
				{{ inlinepic('0057','Frank the dog!','h') }}
			</div>
			<div class="md:col-start-7 md:col-span-4 ">
				{{ inlinepic('0154','Hans holding a baby.','w') }}
			</div>
		</div>
	</section>
	<section class="flex">
		<div class="full-width-div 2xl:bg-hero-3 scroll-snap-y-top imageGallery">
			<a href="https://res.cloudinary.com/dsq8eoc9l/w_1024,f_auto,q_auto/wedding_v2/0170">
				<picture class="full-width-picture">
					<source media="(max-width: 320px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_320,f_auto,q_auto,c_lfill,g_faces/wedding_v2/0170">
					{# 2xl #}
					<source media="(min-width: 1536px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_3,w_2000,f_auto,q_auto,c_lfill,g_faces/wedding_v2/0170">
					{# xl #}
					<source media="(min-width: 1280px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_1536,f_auto,q_auto,c_lfill,g_faces/wedding_v2/0170">
					{# lg #}
					<source media="(min-width: 1024px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_1280,f_auto,q_auto,c_lfill,g_faces/wedding_v2/0170">
					{# md #}
					<source media="(min-width: 768px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2,w_1024,f_auto,q_auto,c_lfill,g_faces/wedding_v2/0170">
					{# sm #}
					<source media="(min-width: 640px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_1.5,w_768,f_auto,q_auto,c_lfill,g_south/wedding_v2/0170">
					{# extra sm #}
					<source media="(min-width: 321px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_1,c_crop,z_1.5/w_640,f_auto,q_auto/wedding_v2/0170">
					<img src="https://res.cloudinary.com/dsq8eoc9l/ar_2,w_600,f_auto,q_auto,c_lfill,g_faces/wedding_v2/0170" loading="lazy">
				</picture>
			</a>
		</div>
	</section>
	<section class="flex justify-center">
		<div class="section-pics-div scroll-snap-y-top">
			<div class="md:col-start-2 md:col-span-5 md:row-span-2 lg:col-span-6 lg:col-start-2">
				{{ inlinepic('0286','Hans and Jeremy hold hands.','w') }}
			</div>
			<div class="flex flex-col md:col-start-8 md:col-span-4 lg:col-start-9 lg:col-span-2">
				<h3 class="text-section-h3">The&nbsp;Ceremony</h3>
				<p class="text-section-p">Kris officiated our short rooftop ceremony. As you can see, our furry nephew Frank stood us up with how well Catherine dressed him.</p>
			</div>
			<div class="md:col-start-8 md:col-span-4 lg:col-start-9 lg:col-span-3">
				{{ inlinepic('0299','Frank the dog, all dressed up!','w') }}
			</div>
			<div class="md:col-start-2 md:col-span-4">
				{{ inlinepic('0268','Hans and Jeremy on the rooftop with the city skyline in focus.','w') }}
			</div>
			<div class="md:col-start-7 md:col-span-5 md:row-span-2">
				{{ inlinepic('0380','Claire laughs with the grooms.','w') }}
			</div>
			<div class="md:col-start-2 md:col-span-4 md:row-span-2">
				{{ inlinepic('0440','Jeremy laughs while holding hands with Hans at the front.','w') }}
			</div>
			<div class="md:col-start-7 md:col-span-5">
				{{ inlinepic('0513','Jeremy and Hans right after saying I do.','w') }}
			</div>
			<div class="md:col-start-2 md:col-span-4 md:row-span-2">
				{{ inlinepic('0558','Catherine holding Frank.','h') }}
			</div>
			<div class="flex flex-col justify-end md:col-start-8 md:col-span-4 md:h-48">
				<p class="text-xl text-section-p">As the sun set, we had Lambrusco Blood Orange cocktails for a quick toast before our reception.</p>
			</div>
			<div class="md:col-start-8 md:col-span-4 md:row-span-2">
				{{ inlinepic('0568','Cocktails!','h') }}
			</div>
			<div class="md:col-start-2 md:col-span-5 md:row-span-2">
				{{ inlinepic('0563','Hans and Jeremy holding Lambrusco bottles.','w') }}
			</div>
			<div class="md:col-start-8 md:col-span-4 md:row-span-2">
				{{ inlinepic('0579','A baby.','w') }}
			</div>
			<div class="md:col-start-2 md:col-span-5 md:row-span-2 md:place-self-start">
				{{ inlinepic('0596','A view from above of the table settings.','h') }}
			</div>
			<div class="md:col-start-8 md:col-span-4">
				{{ inlinepic('0581','Jeremy and Hans hold up their cocktail glasses for a toast.','w') }}
			</div>
			<div class="flex flex-col space-y-10 md:col-start-2 md:col-span-5 md:row-span-2 lg:col-span-6 lg:col-start-2">
				{{ inlinepic('0607','A view from above of the reception with everyone seated.','w') }}
				<div class="max-w-xs md:ml-12">
					<p class="text-section-p">Special thanks to our photographers <a href="https://naturacollective.com/" target="_blank" class="underline">Natura Collective</a> for documenting our special day!</p>
				</div>
			</div>
			<div class="flex flex-col md:col-start-8 md:col-span-4 lg:col-start-9 lg:col-span-3">
				<h3 class="text-section-h3">The Reception</h3>
				<p class="block text-section-p">We lucked out with great fall weather for our backyard reception. Our menu was full of our fall favorites – braises, mac & cheese, and brussel sprouts – followed by Jeremy’s favorite white cake recipe with marshmallow buttercream. </p>
			</div>
			<div class="md:col-start-9 md:col-span-3 lg:col-start-9 lg:col-span-3">
				{{ inlinepic('1901','A full champange glass and open bottle sit on the table next to the dinner menu.','h') }}
			</div>
			<div class="md:col-start-2 md:col-span-3 md:place-self-start md:-mt-12">
				{{ inlinepic('6947','The cake.','h') }}
			</div>
			<div class="md:col-start-6 md:col-span-6 lg:col-start-6">
				{{ inlinepic('0613','Jeremy and Hans seated at the reception.','w') }}
			</div>
			{# <div class="flex flex-col md:col-start-2 md:col-span-4 lg:col-span-3 lg:col-start-2">
				<p class="text-xl text-section-p">We made a cake for ourselves, plus mini cakes for each of our guests.</p>
			</div> #}
			<div class="md:-mt-16 md:col-start-2 md:col-span-4">
				<div class="max-w-xs px-3 mb-12">
					<p class="px-3 text-xl text-section-p">We made a cake for ourselves, plus mini cakes for each of our guests.</p>
				</div>
				{{ inlinepic('2115','The personal sized cake for our guests!','h') }}
			</div>
			<div class="md:col-start-7 md:col-span-5 md:place-self-start">
				{{ inlinepic('1301','Hans feeds Jeremy a bite of cake.','w') }}
			</div>
		</div>
	</section>
	<section class="flex">
		<div class="full-width-div 2xl:bg-hero-4 scroll-snap-y-top imageGallery">
			<a href="https://res.cloudinary.com/dsq8eoc9l/w_1024,f_auto,q_auto/wedding_v2/0616">
				<picture class="full-width-picture">
					<source media="(max-width: 320px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_320,f_auto,q_auto,c_lfill,g_center/wedding_v2/0616">
					{# 2xl #}
					<source media="(min-width: 1536px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_3,w_2000,f_auto,q_auto,c_lfill,g_center/wedding_v2/0616">
					{# xl #}
					<source media="(min-width: 1280px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_1536,f_auto,q_auto,c_lfill,g_center/wedding_v2/0616">
					{# lg #}
					<source media="(min-width: 1024px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2.5,w_1280,f_auto,q_auto,c_lfill,g_center/wedding_v2/0616">
					{# md #}
					<source media="(min-width: 768px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_2,w_1024,f_auto,q_auto,c_lfill,g_center/wedding_v2/0616">
					{# sm #}
					<source media="(min-width: 640px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_1.5,w_768,f_auto,q_auto,c_lfill,g_south/wedding_v2/0616">
					{# extra sm #}
					<source media="(min-width: 321px)" srcset="https://res.cloudinary.com/dsq8eoc9l/ar_1,c_crop,z_1.5/w_640,f_auto,q_auto/wedding_v2/0616">
					<img src="https://res.cloudinary.com/dsq8eoc9l/ar_2,w_600,f_auto,q_auto,c_lfill,g_center/wedd0616_rzkhhw" loading="lazy">
				</picture>
			</a>
		</div>
	</section>
</main>
<footer>
	<section class="flex flex-col bg-jh-navy">
		<div class="flex flex-grow h-48 divide-x divide-jh-white divide divide-solid">
			<div class="flex-grow"></div>
			<div class="flex-grow"></div>
		</div>
		<div class="flex flex-col flex-grow h-48 mt-4 tracking-wider text-center text-white uppercase font-subhead">
			<h3>Expect more news&hellip;<br/>about when we're expecting!</h3>
		</div>
	</section>
</footer>
{# omg wtf #}
<script>
	!function (t, e) {
		"function" == typeof define && define.amd
			? define([], e)
			: "object" == typeof module && module.exports
				? module.exports = e()
				: t.SimpleLightbox = e()
	}(this, function () {
		function e(t) {
			for (var e = 1; e < arguments.length; e++) {
				var n = arguments[e];
				if (n) 
					for (var i in n) 
						n.hasOwnProperty(i) && (t[i] = n[i])
			}
			return t
		}
		function i(t, e) {
			t && e && (t.className += " " + e)
		}
		function s(t, e) {
			t && e && (t.className = t.className.replace(new RegExp("(\\s|^)" + e + "(\\s|$)"), " ").trim())
		}
		function o(t) {
			var e = document.createElement("div");
			return e.innerHTML = t.trim(),
			e.childNodes[0]
		}
		function l(t, e) {
			return (t.matches || t.matchesSelector || t.msMatchesSelector).call(t, e)
		}
		function r(t) {
			this
				.init
				.apply(this, arguments)
		}
		return r.defaults = {
			elementClass: "",
			elementLoadingClass: "slbLoading",
			htmlClass: "slbActive",
			closeBtnClass: "",
			nextBtnClass: "",
			prevBtnClass: "",
			loadingTextClass: "",
			closeBtnCaption: "Close",
			nextBtnCaption: "Next",
			prevBtnCaption: "Previous",
			loadingCaption: "Loading...",
			bindToItems: !0,
			closeOnOverlayClick: !0,
			closeOnEscapeKey: !0,
			nextOnImageClick: !0,
			showCaptions: !0,
			captionAttribute: "title",
			urlAttribute: "href",
			startAt: 0,
			loadingTimeout: 100,
			appendTarget: "body",
			beforeSetContent: null,
			beforeClose: null,
			afterClose: null,
			beforeDestroy: null,
			afterDestroy: null,
			videoRegex: new RegExp(/youtube.com|vimeo.com/)
		},
		e(r.prototype, {
			init: function (n) {
				n = this.options = e({}, r.defaults, n);
				var t,
					i = this;
				n.$items && (t = n.$items.get()),
				n.elements && (t = [].slice.call(
					"string" == typeof n.elements
					? document.querySelectorAll(n.elements)
					: n.elements)),
				this.eventRegistry = {
					lightbox: [],
					thumbnails: []
				},
				this.items = [],
				this.captions = [],
				t && t.forEach(function (t, e) {
					i
						.items
						.push(t.getAttribute(n.urlAttribute)),
					i
						.captions
						.push(t.getAttribute(n.captionAttribute)),
					n.bindToItems && i.addEvent(t, "click", function (t) {
						t.preventDefault(),
						i.showPosition(e)
					}, "thumbnails")
				}),
				n.items && (this.items = n.items),
				n.captions && (this.captions = n.captions)
			},
			addEvent: function (t, e, n, i) {
				return this
					.eventRegistry[i || "lightbox"]
					.push({element: t, eventName: e, callback: n}),
				t.addEventListener(e, n),
				this
			},
			removeEvents: function (t) {
				return this
					.eventRegistry[t]
					.forEach(function (t) {
						t
							.element
							.removeEventListener(t.eventName, t.callback)
					}),
				this.eventRegistry[t] = [],
				this
			},
			next: function () {
				return this.showPosition(this.currentPosition + 1)
			},
			prev: function () {
				return this.showPosition(this.currentPosition - 1)
			},
			normalizePosition: function (t) {
				return t >= this.items.length
					? t = 0
					: t < 0 && (t = this.items.length - 1),
				t
			},
			showPosition: function (t) {
				var e = this.normalizePosition(t);
				return void 0 !== this.currentPosition && (
					this.direction = e > this.currentPosition
					? "next"
					: "prev"),
				this.currentPosition = e,
				this
					.setupLightboxHtml()
					.prepareItem(this.currentPosition, this.setContent)
					.show()
			},
			loading: function (t) {
				var e = this,
					n = this.options;
				t
					? this.loadingTimeout = setTimeout(function () {
						i(e.$el, n.elementLoadingClass),
						e.$content.innerHTML = '<p class="slbLoadingText ' + n.loadingTextClass + '">' + n.loadingCaption + "</p>",
						e.show()
					}, n.loadingTimeout)
					: (s(this.$el, n.elementLoadingClass), clearTimeout(this.loadingTimeout))
			},
			prepareItem: function (t, e) {
				var n = this,
					i = this.items[t];
				if (this.loading(!0), this.options.videoRegex.test(i)) 
					e.call(n, o('<div class="slbIframeCont"><iframe class="slbIframe" frameborder="0" allowfullscreen src="' + i + '"></iframe></div>'));
				else {
					var s = o('<div class="slbImageWrap"><img class="slbImage" src="' + i + '" /></div>');
					this.$currentImage = s.querySelector(".slbImage"),
					this.options.showCaptions && this.captions[t] && s.appendChild(o('<div class="slbCaption">' + this.captions[t] + "</div>")),
					this.loadImage(i, function () {
						n.setImageDimensions(),
						e.call(n, s),
						n.loadImage(n.items[n.normalizePosition(n.currentPosition + 1)])
					})
				}
				return this
			},
			loadImage: function (t, e) {
				if (!this.options.videoRegex.test(t)) {
					var n = new Image;
					e && (n.onload = e),
					n.src = t
				}
			},
			setupLightboxHtml: function () {
				var t = this.options;
				return this.$el || (this.$el = o('<div class="slbElement ' + t.elementClass + '"><div class="slbOverlay"></div><div class="slbWrapOuter"><div class="slbWrap"><div class="slbContentOuter"><div class="slbContent"></div><button type="button" title="' + t.closeBtnCaption + '" class="slbCloseBtn ' + t.closeBtnClass + '">×</button>' + (
					1 < this.items.length
					? '<div class="slbArrows"><button type="button" title="' + t.prevBtnCaption + '" class="prev slbArrow' + t.prevBtnClass + '">' + t.prevBtnCaption + '</button><button type="button" title="' + t.nextBtnCaption + '" class="next slbArrow' + t.nextBtnClass + '">' + t.nextBtnCaption + "</button></div>"
					: "") + "</div></div></div></div>"), this.$content = this.$el.querySelector(".slbContent")),
				this.$content.innerHTML = "",
				this
			},
			show: function () {
				return this.modalInDom || (document.querySelector(this.options.appendTarget).appendChild(this.$el), i(document.documentElement, this.options.htmlClass), this.setupLightboxEvents(), this.modalInDom = !0),
				this
			},
			setContent: function (t) {
				var e = "string" == typeof t
					? o(t)
					: t;
				return this.loading(!1),
				this.setupLightboxHtml(),
				s(this.$content, "slbDirectionNext"),
				s(this.$content, "slbDirectionPrev"),
				this.direction && i(
					this.$content, "next" === this.direction
					? "slbDirectionNext"
					: "slbDirectionPrev"),
				this.options.beforeSetContent && this
					.options
					.beforeSetContent(e, this),
				this
					.$content
					.appendChild(e),
				this
			},
			setImageDimensions: function () {
				this.$currentImage && (this.$currentImage.style.maxHeight = (
					"innerHeight" in window
					? window.innerHeight
					: document.documentElement.offsetHeight) + "px")
			},
			setupLightboxEvents: function () {
				var n = this;
				return this.eventRegistry.lightbox.length || this
					.addEvent(this.$el, "click", function (t) {
						var e = t.target;
						l(e, ".slbCloseBtn") || n.options.closeOnOverlayClick && l(e, ".slbWrap")
							? n.close()
							: l(e, ".slbArrow")
								? l(e, ".next")
									? n.next()
									: n.prev()
								: n.options.nextOnImageClick && 1 < n.items.length && l(e, ".slbImage") && n.next()
					})
					.addEvent(document, "keyup", function (t) {
						n.options.closeOnEscapeKey && 27 === t.keyCode && n.close(),
						1 < n.items.length && ((39 === t.keyCode || 68 === t.keyCode) && n.next(), (37 === t.keyCode || 65 === t.keyCode) && n.prev())
					})
					.addEvent(window, "resize", function () {
						n.setImageDimensions()
					}),
				this
			},
			close: function () {
				this.modalInDom && (this.runHook("beforeClose"), this.removeEvents("lightbox"), this.$el && this.$el.parentNode.removeChild(this.$el), s(document.documentElement, this.options.htmlClass), this.modalInDom = !1, this.runHook("afterClose")),
				this.direction = void 0,
				this.currentPosition = this.options.startAt
			},
			destroy: function () {
				this.close(),
				this.runHook("beforeDestroy"),
				this.removeEvents("thumbnails"),
				this.runHook("afterDestroy")
			},
			runHook: function (t) {
				this.options[t] && this.options[t](this)
			}
		}),
		r.open = function (t) {
			var e = new r(t);
			return t.content
				? e
					.setContent(t.content)
					.show()
				: e.showPosition(e.options.startAt)
		},
		r.registerAsJqueryPlugin = function (i) {
			i.fn.simpleLightbox = function (t) {
				var e,
					n = this;
				return this.each(function () {
					i.data(this, "simpleLightbox") || (e = e || new r(i.extend({}, t, {$items: n})), i.data(this, "simpleLightbox", e))
				})
			},
			i.SimpleLightbox = r
		},
		"undefined" != typeof window && window.jQuery && r.registerAsJqueryPlugin(window.jQuery),
		r
	});
	var lightbox = new SimpleLightbox({elements: '.imageGallery a'});
	lightbox.defauts = {
		nextOnImageClick: true,
		closeOnEscapeKey: true,
		loadingTimeout: 100
	}
</script>

{# Breakpoint Indicator #}
{# <div class="fixed bottom-0 right-0 flex items-center p-2 m-2 text-sm text-pink-600 bg-gray-300 border border-gray-400 rounded">
	<svg class="inline w-auto h-6" viewBox="0 0 80 64" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill="url(#paint0_linear)" fill-rule="evenodd" clip-rule="evenodd" d="M32 16C24.8 16 20.3 19.6 18.5 26.8C21.2 23.2 24.35 21.85 27.95 22.75C30.004 23.2635 31.4721 24.7536 33.0971 26.4031C35.7443 29.0901 38.8081 32.2 45.5 32.2C52.7 32.2 57.2 28.6 59 21.4C56.3 25 53.15 26.35 49.55 25.45C47.496 24.9365 46.0279 23.4464 44.4029 21.7969C41.7557 19.1099 38.6919 16 32 16ZM18.5 32.2C11.3 32.2 6.8 35.8 5 43C7.7 39.4 10.85 38.05 14.45 38.95C16.504 39.4635 17.9721 40.9536 19.5971 42.6031C22.2443 45.2901 25.3081 48.4 32 48.4C39.2 48.4 43.7 44.8 45.5 37.6C42.8 41.2 39.65 42.55 36.05 41.65C33.996 41.1365 32.5279 39.6464 30.9029 37.9969C28.2557 35.3099 25.1919 32.2 18.5 32.2Z"></path>
		<defs>
			<linearGradient id="paint0_linear" x1="3.5" y1="16" x2="59" y2="48" gradientUnits="userSpaceOnUse">
				<stop stop-color="#2298BD"></stop>
				<stop offset="1" stop-color="#0ED7B5"></stop>
			</linearGradient>
		</defs>
	</svg>
	<span class="ml-1 sm:hidden md:hidden lg:hidden xl:hidden">default (&lt; 640px)</span>
	<span class="hidden ml-1 font-extrabold sm:inline md:hidden">sm - 641px</span>
	<span class="hidden ml-1 font-extrabold md:inline lg:hidden">md - 768px</span>
	<span class="hidden ml-1 font-extrabold lg:inline xl:hidden">lg - 1024px</span>
	<span class="hidden ml-1 font-extrabold xl:inline 2xl:hidden">xl - 1280px</span>
	<span class="hidden ml-1 font-extrabold 2xl:inline">2xl - 1536px</span>
</div> #}
{# End Breakpoint Indicator #}
